<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="y86sim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <y86sim.Properties.Settings>
            <setting name="ClockInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ProgramLoadMem" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="StackLoadMem" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="MemorySize" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="JmpRelativePosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseEOPTag" serializeAs="String">
                <value>True</value>
            </setting>
        </y86sim.Properties.Settings>
    </userSettings>
</configuration>